{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <p>By {{ post.author.username }} • {{ post.created_at|date:"M d, Y H:i" }}</p>
  <div>{{ post.content|linebreaks }}</div>
  {% if user == post.author %}
    <a href="{% url 'post-update' post.pk %}">Edit</a>
    <a href="{% url 'post-delete' post.pk %}">Delete</a>
  {% endif %}
</article>
{% endblock %}


<!-- existing post detail content above -->
<section id="comments">
  <h3>Comments ({{ post.comments.count }})</h3>

  {% if user.is_authenticated %}
    <div class="comment-form">
      <form action="{% url 'comment-create' post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Post Comment</button>
      </form>
    </div>
  {% else %}
    <p><a href="{% url 'login' %}">Log in</a> to post a comment.</p>
  {% endif %}

  <ul class="comments-list">
    {% for comment in post.comments.all %}
      <li id="comment-{{ comment.pk }}">
        <p><strong>{{ comment.author.username }}</strong> • {{ comment.created_at|date:"M d, Y H:i" }}</p>
        <div class="comment-content">{{ comment.content|linebreaks }}</div>
        {% if user == comment.author %}
          <p>
            <a href="{% url 'comment-edit' post.pk comment.pk %}">Edit</a>
            <a href="{% url 'comment-delete' post.pk comment.pk %}">Delete</a>
          </p>
        {% endif %}
      </li>
    {% empty %}
      <li>No comments yet. Be the first to comment.</li>
    {% endfor %}
  </ul>
</section>


<p>Tags:
  {% for tag in post.tags.all %}
    <a href="{% url 'tag-posts' tag.name %}">{{ tag.name }}</a>
  {% empty %}
    No tags
  {% endfor %}
</p>
